/* more descriptive name here? */
.standard-text {
    font-size: 25px;
}
.utilities-button-container {
    border: .001px solid #F5F5F5;
    border-radius: 15px;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}