.standard-text {
    font-size: 25px;
}
.utilities-button-container {
    border: .001px solid #F5F5F5;
    border-radius: 15px;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.task-container-template {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    color: black;
    border-radius: 5px;
}
.section-block-header {
    padding-top: 2%;
    font-size: 27px;
}
.section-block-display {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.section-block-border {
    border: .001px solid #F5F5F5;
    border-radius: 15px;
}